@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272722;
}
.chat-title{
    display: flex;
    justify-content: center;
    width: 350px;
    color: #fff;
    margin: 10px;
}
.message-container {
    height: 500px;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    background-color: #d8f1ef;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
.message {
    align-self: flex-start;
    width: 87%;
    padding: 10px;
    background-color: #40e685;
    height: fit-content;
    border-radius: 10px;
}
.local-user {
    align-self: flex-end;
    background-color: #96e6df;
}
.chat-form{
    display: flex;
    width: 360px;
    flex-direction: column;
}
.input-container{
    color: #fff;
    margin: 8px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}


.input-container > label{
    margin: auto 0;
}
.input-container > input{
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
}
.input-container > button{
    padding: 8px;
    border: none;
    background-color: #60ffa2;
    border-radius: 8px;
}
.input-container > button:hover{
    cursor: pointer;
    border: none;
    background-color: #8affbb;
    transition: all ease-in-out .2s;
}

